langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
faiss-cpu
pypdf
langchain_huggingface
langchain_chroma
arxiv
wikipedia
ipykernel
duckduckgo-search
SQLAlchemy
mysql-connector-python
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub